.user1 input {
  margin: 1rem;
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid black;
  padding: 5px 10px;
  outline: none;
  height: 25px;
  width: 215px;
}

.user1 i {
  color: black;
}

.user2 input {
  margin: 1rem;
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid black;
  padding: 5px 10px;
  outline: none;
  height: 25px;
  width: 215px;
}

.user2 i {
  color: black;
}
