.user1 input {
  margin: 1rem;
  border: none;
  background-color: #f4f4f4;
  outline: none;
  height: 25px;
  width: 215px;
}

.user1 i {
  color: #290fba;
}

.user2 input {
  margin: 1rem;
  border: none;
  background-color: #f4f4f4;
  outline: none;
  height: 25px;
  width: 215px;
  border-radius: 2px;
}

.user2 i {
  color: #290fba;
}
